@font-face {
	font-family: "secondary-font";
	src: url("../fonts/farsi-fonts/pofak-400.woff2") format("woff2"),
		 url("../fonts/farsi-fonts/pofak-400.woff") format("woff");
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "secondary-font";
	src: url("../fonts/farsi-fonts/pofak-700.woff2") format("woff2"),
		 url("../fonts/farsi-fonts/pofak-700.woff") format("woff");
	font-weight: 700;
	font-display: swap;
}
